@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fd-layout-width: 1400px;
}

/* Glowing button */

.shimmer {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; /* Start further to the left for a wider effect */
    width: 200%; /* Wider for more spread */
    height: 100%;
    background: linear-gradient(0deg, 
      rgba(255, 255, 255, 0) 0%, 
      rgba(255, 255, 255, 0.05) 30%, 
      rgba(124, 124, 124, 0.2) 50%, 
      rgba(255, 255, 255, 0.05) 70%, 
      rgba(255, 255, 255, 0) 100%);
    animation: shine 2.5s infinite;
    pointer-events: none; /* Make it non-blocking */
    transform: rotate(56deg); /* Rotate the shimmer */
  }
  
  @keyframes shine {
    0% {
      left: -150%;
    }
    100% {
      left: 150%; /* Move further right for a more pronounced effect */
    }
  }
  
  